body {
	font-family: Arial, Helvetica, sans-serif;
	overflow: hidden;
	margin: 0;
	font-size: 24px;
	font-weight: bold;
}

:root {
	--hue-bright: hsl(0,0,80%);
	--hue-normal: hsl(0,0,50%);
	--hue-dark: hsl(0,0,20%);
}

div.menu-wrapper {
	width: 100vw;
	height: 100vh;
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
}

div.menu {
	display: grid;
	background-color: var(--hue-bright);
	border: 10px solid var(--hue-normal);
	padding: 10px;
	box-shadow: 4px 6px 6px #000c;
	border-radius: 10px;
}

h1.title {
	margin: 0;
	text-align: center;
	text-shadow: 2px 3px #000;
	color: var(--hue-dark);
}

div.textbox-wrapper {
	display: grid;
	grid-template-rows: 60px;
	grid-template-columns: auto 50px;
	box-shadow: 2px 3px 3px #000c;
}

input#name {
	font-size: 48px;
	padding: 0 0 0 2px;
	height: 60px;
	margin: 0;
	background-color: fff;
	border: none;
	outline: none;
	color: var(--hue-dark);
	text-shadow: 1px 2px #000;
}

button#start {
	height: 60px;
	width: 50px;
	border: none;
	outline: none;
	padding: 0;
	background-color: transparent;
	cursor: pointer;
}

button#start svg {
	fill: #000f;
	transition: 1s;
}

button#start:hover svg{
	fill: var(--hue-normal);
}

input#color {
	appearance: none;
	background: linear-gradient(to right,#f00,#ff0,#0f0,#0ff,#00f,#f0f,#f00);
	height: 25px;
	margin: 10px 0 0;
	box-shadow: 2px 3px 3px #000c;
	outline: none;
}

input#color::-webkit-slider-thumb {
	appearance: none;
	width: 25px;
	height: 25px;
	background: var(--hue-normal);
	border: 5px solid var(--hue-dark);
	cursor: pointer;
}